.column-1 {
	background-color: lime; 
  font-family: "Times New Roman", Times, serif;
  font-size: 80%;
  border-type: solid;
  width: 300px;
  margin:10px;
  padding:10px;
  display:inline-block;
  vertical-align:top;
}
.column-2 {
  background-color: yellow;
  border-type: solid;
  width: 300px;
  margin:10px;
  padding:10px;
  display:inline-block;
  vertical-align:top;
  font-family: "Times New Roman", Times, serif;
   font-size: 80%;
}